html, body {
  height: 100%;
  margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    background-color: mediumaquamarine;
    height: 50px;
    width: 90%;
    /* outline: 2px solid black; */
    border-end-start-radius: 25px;
    border-end-end-radius: 25px;
    margin-bottom: 20px;
}

.home {
    margin-right: auto;
    align-self: center;
    /* outline: 2px solid black; */
    margin-left: 10px;
}

.right-side {
    display: flex;
    gap: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    height: 30px;
    /* outline: 2px solid black; */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* outline: 2px solid red; */
}

.window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 500px;
    height: 300px;
    margin-left: 40px;
    margin-right: 40px;
    outline: 2px solid gray;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.window label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:darkviolet;
    font-size: 30px;
    outline: 2px solid darkviolet;
    padding: 20px;
    border-radius: 10px;
}

.upload-label {
    display: inline-block;
    cursor: pointer;
  }

.upload-label img {
    width: 30px; /* adjust as needed */
    height: 30px;
    object-fit: contain;
    transition: transform 0.2s ease;
  }

.upload-label:hover {
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.15);
  }

#avatar {
    display: none;

}

.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* outline: 2px solid black; */
    width: 500px;
    height: 70px;
}

.actions button {
    background: #fbbc3f;
    cursor: pointer;
    background: radial-gradient(circle, rgba(251, 188, 63, 0.95) 0%, rgba(252, 70, 107, 1) 100%);
    font-size: 20px;
    height: 50px;
    width: 150px;
    border-radius: 10px;
}

.actions button:hover {
    transform: scale(1.05);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: mediumaquamarine;
    width: 100%;
    /* outline: 2px solid green; */
    height: 40px;
    margin-top: auto;
}
