body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* font-family: monospace; */
}

.container {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 500px;
    outline: 2px solid black;
    border-radius: 15px;
}

.upper-display {
    align-self: stretch;
    text-align: end;
    height: 40px;
    font-size: 40px;
    color: rgb(195, 195, 195);
    margin: 10px 10px 5px 10px;
    padding: 5px;
    /* outline: 2px solid white; */
}

.display {

    align-self: stretch;
    text-align: end;
    height: 100px;
    font-size: 70px;
    color: white;
    margin: 5px 10px 10px 10px;
    padding: 5px;
    /* outline: 2px solid white; */
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-color: rgb(63, 63, 63);
    border: 0;
}

button:hover {
    border: 1px solid white;
}

button#zero {
    /* display: flex; */
    /* justify-content: flex-start; */
    border-radius: 30px;
    width: 125px;
}

.buttons {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

button.rightop {
    background-color: orange;
}

button.spe {
    color: black;
    background-color: rgb(154, 153, 153);
}