.block {
    padding-left: 15%;
    padding-right: 15%;
}

body {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    margin: 0;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    font: Roboto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #1f2937;
    color: white;
    padding-top: 10px;
    /* padding-left: 10%;
    padding-right: 10%; */
    padding-bottom: 60px;
}

.right-links {
    display: flex;
    gap: 25px;
    font-size: 18px;
    color: #E5E7EB;
}

.left-links {
    font-size: 24px;
    color: #f9faf8;
}

a {
    text-decoration: none;
    color: inherit;
}

.section-one {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    /* height: 200px; */
    /* padding-left: 10%;
    padding-right: 10%; */
    padding-bottom: 50px;
}

.left-part {
    display: flex;
    flex-direction: column;
    /* outline: 2px solid white; */
}

.title {
    font-size: 48px;
    font-weight: 900;
    width:50%;
    /* outline: 2px solid white; */
    /* outline: 2px solid white; */
}

p {
    width: 50%;
    /* outline: 2px solid white; */
}

.signup {
    /* outline: 2px solid white; */
    align-self: flex-start;
    background-color: #3882F6;
    border: 2px solid #3882F6;
    height: 30px;
    width: 70px;
    color: #E5E7EB;
    border-radius: 10px;
    cursor: pointer;
}

.right-part {
    display: flex;
    justify-content: center;
    align-items: center;
    /* outline: 2px solid white; */
    width: 60%;
    background-color: gray;
}



.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* outline: 2px solid black; */
    padding-bottom: 60px;
}

.header-text {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 32px;
    font-weight: 900;
    color: #1f2937;
}

.squares {
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    gap: 50px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.square {
    height: 130px;
    width: 130px;
    border-radius: 10px;
    border: 3px solid #3882F6;
}

.caption {
    /* border: 2px solid black; */
    font-size: 15px;
    width: 130px;
    text-align: center;
}


.section-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    /* outline: 2px solid red; */
}

.quote {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 200;
    color: #1f2937;
    padding-left: 120px;
    padding-right: 120px;
    /* outline: 2px solid black; */
}

.sayer {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 140px;
    padding-right: 140px;
    /* outline: 2px solid blue; */
}

.section-foor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.back {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    /* padding: 40px; */
    height: 100px;
    width: 950px;
    border-radius: 10px;
    /* outline: 2px solid black; */
}

.text-blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f9faf8;
    font-family: roboto;
}

.top-text {
    font-size: 20px;
    font-weight: 900;
}


.signup-two {
    cursor: pointer;
    color: #f9faf8;
    background-color: #3882F6;
    align-self: center;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid #f9faf8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:#1f2937;
}

.copyright {
    color: #f9faf8;
}