.secret-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 500px;
  outline: 2px solid black;
  border-radius: 15px;
  background: black;
  color: lime;
  font-family: monospace;
  /* padding: 10px; */
}

.secret-app button {
  font-size: 15px;
  border-radius: 10px;
  /* padding: 0.5rem 1rem; */
}