body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

#reset {
    font-size: 25px;
    margin-top: 20px;
    width: 150px;
    height: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    gap: 0.5px;
    outline: 1px solid black;
}

.row {
    gap: 0.5px;
}

/* .gridSquare:hover {
    background-color: rgb(0, 0, 0, 0.35);
} */